.env
docker-compose.override.yml

config/.n8n.docker.secret.env
data/n8n/*
!data/n8n/.gitkeep

config/traefik/certificates
!config/traefik/certificates/.gitkeep

data/rabbitmq_data
!data/rabbitmq_data/.gitkeep

tmp
